@import url("https://fonts.googleapis.com/css2?family=Viaoda Libre:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #B90518;
  --bs-orange: #fd7e14;
  --bs-yellow: #FB9F06;
  --bs-green: #54CC7C;
  --bs-teal: #20c997;
  --bs-cyan: #4CACE4;
  --bs-white: #fff;
  --bs-gray: #888;
  --bs-gray-dark: #343a40;
  --bs-primary: #8076E9;
  --bs-secondary: #F5EED8;
  --bs-success: #54CC7C;
  --bs-info: #4CACE4;
  --bs-warning: #FB9F06;
  --bs-danger: #B90518;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


body {
  margin: 0;
  /*font-family: var(--bs-font-sans-serif);*/
  font-family: Baloo Tammudu 2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #F5EED8;
  background-color: #0E1544;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: Viaoda Libre, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #F5EED8;
}

.btn-primary{
  color: #F5EED8;
  background-color: #8076E9;
  border-color: #8076E9;
}

.btn-primary:hover{
  color: #8076E9;
  background-color: #0E1544;
  border-color: #8076E9;
}

.btn-primary:visited{
  /* INSERT CODE HERE */
}

.btn-secondary{
  color: #8076E9;
  background-color: #0E1544;
  border-color: #8076E9;
}

.btn-secondary:hover{
  color: #F5EED8;
  background-color: #8076E9;
  border-color: #8076E9;
}

.btn-secondary:visited{
  /* INSERT CODE HERE */
}

.a{
  color: #8076E9;
}

.a:hover{
  /* INSERT CODE HERE */
}

.a:visited{
  /* INSERT CODE HERE */
}

.btn-outline-primary {
  color: #8076E9;
  background-color: #2C3484;
  border-color: #8076E9;
}

.btn-outline-primary:hover{
  color: #F5EED8;
  background-color: #8076E9;
  border-color: #8076E9;
}

.btn-outline-primary:onclick{
  color: #F5EED8;
  background-color: #8076E9;
  border-color: #8076E9;
}

.navbar {
  background-color: #2C3484;

.cardProfile{
  background-color: #2C3484;
  border-color: #8076E9;
  border-radius: 0.5rem;
}

.card {
  background-color: #8076E9;

}

.btn-card{
  color: #F0EBCE;
  background-color: #8076E9;
  border-color: #F0EBCE;

}

.btn-card:hover{
  color: #F0EBCE;
  background-color: #0E1544;
  border-color: #8076E9;
}

.jumbotron
{
    height: 400px ;
    background-image: url("") ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
}